<!DOCTYPE html>
<!--/* Specify the language of the page and the direction, left-to-right */-->
<html lang="it" dir="ltr">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	
    <title>Vendita</title>
    
    <link rel="icon" href="#" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/auctions-offers.css}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/vendo.css}">
  </head>
  <body>
	<!--/* th:remove="tag" removes only the containing tag, but not the text */-->
	<!--/* th:remove="all" removes both the tag and the children, text included */-->
	<p th:remove="all">Questa è una pagina dinamica, viene generata a runtime, non è previsto un accesso diretto!</p>
    <div class="col lft-col">
      <div class="quick-nav">
        <h3>Navigazione Rapida</h3>
        <ul>
          <a href="#open-auc"><li>Aste Aperte</li></a>
          <a href="#closed-auc"><li>Aste Chiuse</li></a>
          <a href="#create-auc"><li>Crea Asta</li></a>
        </ul>
      </div>
    </div>
    <div class="col mid-col">
      <div class="row first-row auc-list">
        <h2 id="open-auc">Aste Aperte</h2>
        <!--/* The paragraph exists only if the list is empty */-->
        <p th:if="${userOpenAuctions.isEmpty()}">Non hai nessun' asta aperta al momento!</p>      
        <section th:replace="@{WEB-INF/fragments.html} :: showAuctions (${userOpenAuctions}, 1)">

		<!--/* Here a parameterized fragment is used, since this piece of markup is almost identical to 
		the one used to display the closed auctions, it is written once and used twice.
		The first parameter is the the hashmap that contains all user's open auctions, the second
		one is used to distinguish between open and closed auctions inside the fragment. 
		The div is replaced by the fragment's one, along with it's children*/-->

        </section>
      </div>
      <div class="row second-row auc-list">
        <h2 id="closed-auc">Aste Chiuse</h2>
        <!--/* The paragraph exists only if the list is empty */-->
	    <p th:if="${userClosedAuctions.isEmpty()}">Non hai ancora chiuso nessun' asta!</p>
        <section th:replace="@{WEB-INF/fragments.html} :: showAuctions (${userClosedAuctions}, 0)">

		<!--/* Here a parameterized fragment is used, since this piece of markup is almost identical to 
		the one used to display the closed auctions, it is written once and used twice.
		The first parameter is the the hashmap that contains all user's closed auctions, the second
		one is used to distinguish between open and closed auctions inside the fragment.
		The div is replaced by the fragment's one, along with it's children */-->

        </section>
      </div>
      <div class="row third-row form">
        <h2 id="create-auc">Creazione di una nuova asta</h2>
	   		<!--/* The /CreateAuction controller isn't called if the page is accessed directly */-->
	   		<form action="#" th:action="@{/CreateAuction}" method="post" enctype="multipart/form-data">
	   			<div>
	   				<label for="name">Nome Articolo:</label>
	   				<input type="text" name="name" id="name" min="4" max="50" required>
	   			</div>
	   			<div>
	   				<label for="description">Descrizione:</label>
	   				<textarea name="description" id="description" rows="4" cols="50" minlength="20" maxlength="3000" placeholder=" ..." spellcheck="false" required></textarea>
	   			</div>
	   			<div>
	   				<label for="image">Immagine:</label>
	   				<input type="file" name="image" id="image" accept="image/*"  required>
	   			</div>
	   			<div>
	   				<label for="initialPrice">Prezzo Iniziale:</label>
	   				<input type="number" name="initialPrice" id="initialPrice" min="1" step="1" max="700000000" required>
	   				<!-- Shows the euro's symbol on the right side of the input field -->
	   				<span> &euro;</span>
	   			</div>
	   			<div>
	   				<label for="minUpsideOffer">Rialzo Minimo:</label>
	   				<input type="number" name="minUpsideOffer" id="minUpsideOffer" min="50" step="1" max="100000" required>
	   				<!-- Shows the euro's symbol on the right side of the input field -->
	   				<span> &euro;</span>
	   			</div>
	   			<div>
	   				<label for="deadline">Scadenza (futura): </label>
	   				<!--/* The ldt variable contains the current LocalDateTime */-->
	   				<input type="datetime-local" name="deadline" id="deadline" th:min="${ldt}" placeholder="yyyy-MM-ddTHH:mm" th:value="${ldt}" required>
	   			</div>
	   			<button name="auction-submit" type="submit">Crea Asta</button>
	   		</form>
      </div>
    </div>
    <div class="col rgt-col">
      <div class="quick-nav menu">
        <h3>Menu</h3>
        <ul>
          <a href="#" th:href="@{/home.jsp}"><li>Home</li></a>
          <a href="#" th:href="@{/GoToAcquisto}"><li>Acquista</li></a>
          <a href="#" th:href="@{/GoToVendo}"><li>Vendi</li></a>
          <a href="#" th:href="@{/Logout}"><li>Esci</li></a>
        </ul>
      </div>
    </div>
  </body>
</html>